@{
    ViewData["Title"] = "Home Page";
}


    <div class="alert alert-light alert-elevate" role="alert" style="margin-top: 62px;
                                      text-align: center;
                                      padding: 66px 0px 149px 0px;">
     

        <div class="text-center" style="width: 100%">
            <h1 class="display-4">HOŞGELDİNİZ</h1>
            <p>School App Uygulamasına Hoş Geldiniz Hemen Kullanmaya Başlayıp Okulunuz Yönetin.</p>
        </div>

    </div>